.customNode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px; 
  height: 30px; 
  padding: 1rem;

}

.icon {
  position: absolute;
  top: -20px;
  right: -20px;
  scale: 70%;
} 

/* .icon {
  display: flex;
  justify-content: flex-end;
  font-size: 0.4rem;
} */

.rectangle {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.oval {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.rhombus {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid black;
  transform: rotate(45deg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.red {
  border: 1px solid red;
  /* color: red; */
}

.yellow {
  border: 1px solid yellow;
  /* color: yellow; */
}

.green {
  border: 1px solid green;
  /* color: green; */
}

.handleRhombusTop {
  left: 0;
}

.handleDefaultRightSource {
  top: 50%;
  transform: translateY(-50%);
}

.handleRhombusRightSource {
  top: 0;
}

.handleDefaultRightTarget {
  top: 50%;
  transform: translateY(-50%); 
  /* visibility: hidden; */
}

.handleRhombusRightTarget {
  top: 0;
}

.handleDefaultLeftSource {
  top: 50%;
  transform: translateY(-50%);
}

.handleRhombusLeftSource {
  top: 100%;
}

.handleDefaultLeftTarget {
  top: 50%;
  transform: translateY(-50%);
  /* visibility: hidden */
}

.handleRhombusLeftTarget {
  top: 100%;
}

.handleRhombusBottom {
  left: 100%;
}

.label {
  white-space: pre-wrap; 
  word-break: normal; 
  display: inline-block; 
  font-size: 0.4rem;
}

.labelRhombus {
  transform: rotate(-45deg); 
}
